body,html{
		height: 100%;
	}

	/* remove outer padding */
	.main .row{
		padding: 0px;
		margin: 0px;
	}

	/*Remove rounded coners*/

	nav.sidebar.navbar {
		border-radius: 0px;
	}

	nav.sidebar, .main{
		-webkit-transition: margin 200ms ease-out;
	    -moz-transition: margin 200ms ease-out;
	    -o-transition: margin 200ms ease-out;
	    transition: margin 200ms ease-out;
	}

	/* Add gap to nav and right windows.*/
	.main{
		padding: 10px 10px 0 10px;
	}

	/* .....NavBar: Icon only with coloring/layout.....*/

	/*small/medium side display*/
	@media (min-width: 768px) {

		/*Allow main to be next to Nav*/
		.main{
			position: absolute;
			width: calc(100% - 40px); /*keeps 100% minus nav size*/
			margin-left: 40px;
			float: right;
		}

		/*lets nav bar to be showed on mouseover*/
		nav.sidebar:hover + .main{
			margin-left: 200px;
		}

		/*Center Brand*/
		nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
			margin-left: 0px;
		}
		/*Center Brand*/
		nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
			text-align: center;
			width: 100%;
			margin-left: 0px;
		}

		/*Center Icons*/
		nav.sidebar a{
			padding-right: 13px;
		}

		/*adds border top to first nav box */
		nav.sidebar .navbar-nav > li:first-child{
			border-top: 1px #e5e5e5 solid;
		}

		/*adds border to bottom nav boxes*/
		nav.sidebar .navbar-nav > li{
			border-bottom: 1px #e5e5e5 solid;
		}

		/* Colors/style dropdown box*/
		nav.sidebar .navbar-nav .open .dropdown-menu {
			position: static;
			float: none;
			width: auto;
			margin-top: 0;
			background-color: transparent;
			border: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		/*allows nav box to use 100% width*/
		nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
			padding: 0 0px 0 0px;
		}

		/*colors dropdown box text */
		.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
			color: #777;
		}

		/*gives sidebar width/height*/
		nav.sidebar{
			width: 200px;
			height: 100%;
			margin-left: -160px;
			float: left;
			z-index: 8000;
			margin-bottom: 0px;
		}

		/*give sidebar 100% width;*/
		nav.sidebar li {
			width: 100%;
		}

		/* Move nav to full on mouse over*/
		nav.sidebar:hover{
			margin-left: 0px;
		}
		/*for hiden things when navbar hidden*/
		.forAnimate{
			opacity: 0;
		}
	}

	/* .....NavBar: Fully showing nav bar..... */

	@media (min-width: 1330px) {

		/*Allow main to be next to Nav*/
		.main{
			width: calc(100% - 200px); /*keeps 100% minus nav size*/
			margin-left: 200px;
		}

		/*Show all nav*/
		nav.sidebar{
			margin-left: 0px;
			float: left;
		}
		/*Show hidden items on nav*/
		nav.sidebar .forAnimate{
			opacity: 1;
		}
	}

	nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #CCC;
		background-color: transparent;
	}

	nav:hover .forAnimate{
		opacity: 1;
	}
	section{
		padding-left: 15px;
	}
	.delete {
		float: right;
		font-weight: bold;
		background: none;
		font-size: 1em;
		border: none;
		position: relative;
	  }
	  .facilitator li {
		position: relative;
		list-style: none;
		padding: 15px;
		border-bottom: #eee solid 1px;
	  }
	   
	  .facilitator li .text {
		margin-left: 10px;
	  }
	   
	  .facilitator li.checked {
		color: #888;
	  }
	   
	  .facilitator li.checked .text {
		text-decoration: line-through;
	  }
	   
	  .facilitator li.private {
		background: #eee;
		border-color: #ddd;
	  }
	  li.submenu a{
		  margin-left:10px;
	  }
	  li.submenu{
		background-color:#363636 !important;
	  }
	.sessionChangeData, .sessionChangeList{
		width:100%;
		float:left;
		border-bottom:1px solid gray;

	}
	.sessionChangeData{
		padding:10px;
	}

	.sessionChangeList{
		padding:20px;
	}
	  .s-item{
		width:10%;
		float:left;
	  }

	  .more-margin{
		  margin-left:66px !important;
	  }

	  .code-box{
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		padding:10px;
		background-color:rgb(119, 119, 119);
		color:black;
		margin-top:20px;
	  }
	  .info-box1{
		border:1px solid green;
		background-color:greenyellow;
		float:left;
		margin-top:30px;
		border-radius:5px;
		padding:20px;
	  }

	  .info-code{
		  color:black;
		  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	  }

	  .respond button{
		display:inline-block;
		background-color:white;
		border:0px solid white;
	  }

	  .name{
		  width:15%;
	  }
	  .respond{
		  width:30%;
	  }
	  .decline{
		  color:red;
	  }

	  .approve{
		  color:green;
	  }
	  .addFac-container {
		width: 50%;
	}
	.addFac-group {
		padding: 10px;
	}
	span.label-object {
		float: right;
	}
	.lgaReportContainer div:first-child,.UserSatisfactionReport div:first-child {
		width: auto !important;
		height: 400px !important;
	}
	.row-dashboard{
		width:auto;
		height:auto !important;
		max-height:13vw;

	}
	.dash-section {
		background-color: rgba(0, 0, 0, 0.12);
		padding: 30px;
	}
	.dash-section h2:after {
		content: '';
		background-color: #363636;
		width: 40px;
		display: block;
		position: absolute;
		padding: 2px;
		margin-top: 3px;
		margin-bottom: 3px;
	}
	.dash-section h2{
		font-size:20px !important;
		margin-bottom:20px;
	}